.btn-primary{
    box-shadow: none;
    background-image: linear-gradient(to right, rgb(165, 23, 186), rgb(95, 23, 130));
    padding: 8px 25px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    border-radius: 20px;
    text-align: center;
    margin: 0 0 80px 0px;
}
.bgwhite1{
     padding-bottom: 50px;
    padding-top: 50px;
    background: rgb(248, 249, 250);
}

.float{
    animation: float 3s ease-in-out infinite;
}