.custom-navbar {
  background-color: #f8f9fa;
  padding: 3px 20px;
}
.bgcolor1{
  background-color: #000000;
}
.logo-img {
  height: 100px;
}
.navbar-light .navbar-toggler-icon {
  background-color: #fff !important;
  padding: 20px  !important;
  border-radius: 5px;
}
.nav-links {
  text-transform: uppercase !important;
  font-weight: 500 !important;
  cursor: pointer !important;
}
.navbar-toggler:focus {
outline: none !important;
box-shadow: none !important;
}

.gap-item{
gap: 18px;
}